<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-date" version="0.0.0">
  <name>Date</name>
  <description>Cordova plugin to interface with TrueTime's Android and iOS NTP libaries.</description>
  <author>Total Pave Inc.</author>
  <license>Apache 2.0</license>
  <keywords>cordova,cordova-ios,cordova-android,ntp</keywords>
  <repo>https://github.com/totalpave/cordova-plugin-date</repo>

  <js-module src="www/date.js" name="Date">
    <clobbers target="totalpave.date" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Date">
        <param name="ios-package" value="CDVDate"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVDate.h" />
    <source-file src="src/ios/CDVDate.m" />
    <source-file src="src/ios/DateSwiftHack.swift" />
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods>
        <pod name="TrueTime" spec="5.0.3"/>
      </pods>
    </podspec>
  </platform>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TPDate">
        <param name="android-package" value="com.totalpave.date.TPDate"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <framework src="src/android/tpdate-gradle.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/TPDate.java" target-dir="src/com/totalpave/date" />
  </platform>

  <hook src="hooks/updateXCConfig.js" type="after_prepare" />
  <hook src="hooks/updateXCConfig.js" type="before_prepare" />
  <hook src="hooks/updateXCConfig.js" type="before_compile" />
</plugin>
