<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-clock" version="0.0.0">
  <name>Clock</name>
  <description>Cordova plugin to interface with TrueTime's Android and iOS NTP libaries.</description>
  <author>Total Pave Inc.</author>
  <license>Apache 2.0</license>
  <keywords>cordova,cordova-ios,cordova-android,ntp</keywords>
  <repo>https://github.com/totalpave/cordova-plugin-clock</repo>

  <js-module src="www/clock.js" name="Clock">
    <clobbers target="totalpave.clock" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Clock">
        <param name="ios-package" value="CDVClock"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVClock.h" />
    <source-file src="src/ios/CDVClock.m" />
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods>
        <pod name="TrueTime" spec="5.0.3"/>
      </pods>
    </podspec>
  </platform>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Clock">
        <param name="android-package" value="com.totalpave.clock.Clock"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <framework src="src/android/clock-gradle.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/Clock.java" target-dir="src/com/totalpave/clock" />
  </platform>
</plugin>
